body{
	background: #dfdfdf;

}

h1{
	text-align: center;
	position: absolute;
	color: red;
	font-size: 3em;
}

p{
	text-align: center;
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, 50%);
	font-size: 2em;
}

img{
	position: inherit;
	width: 100%;
	height: auto;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}

#video{
	width: auto;
	height: auto;
	overflow: hidden;
	z-index: -1;
	position: inherit;
	min-width: 100%;
}

#video video{
	width: 100%;
	height: 100%;
}