#background{
	background-color: khaki;
}

h1{
	text-align: center;
	font-family: Tahoma;
	color: darkred;
	font-size: 40px;
}

h3{
	display: block;
	text-indent: 35px;
	text-align: center;
}

.desk{
	text-align: justify;
	line-height: 30px;
	font-size: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.penawaran{
	padding-top: 20px;
	text-indent: 500px;
	font-weight: bold;
	text-align: center;
}

.deskroom{
	font-size: 23px;	
}

#line1-2-3{
	padding-top: 20px;
	font-size: 20px;
	text-align: center;
	font-weight: bold;
}

#deskmap{
	font-size: 25px;
	text-align: center;
}

#contact{
	font-size: 20px;
	text-align: left;
    clear: both;
    float: right;
    margin-right: 680px;
    margin-top: 60px;
    border-style: double;
    border-width: 15px;
    padding-left: 20px;
    padding-right: 30px;
}

/* FORM */
.form-group{
	font-size: 20px;
}

input[type=text] {
    width: 20%;
    padding: 3px;
    margin: 8px 0;
    box-sizing: border-box;
}

textarea {
    width: 30%;
    height: 150px;
    margin: 8px 0;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}


/* IMAGE */

.img{
	width: 50%;
	height: 50%;
}

#hotel{
	height: 15%;
	width: 15%;
	display: inline;
	margin-left: 10px;
	margin-right: 15px;
	padding-bottom: 20px;
}

#payment{
	height: 15%;
	width: 15%;
	display: inline;
	margin-left: 10px;
	margin-right: 15px;
	padding-bottom: 30px;
}

#gambar{
	display: flex;
	position: relative;
	left: 280px;
	max-width: 100px;
	max-height: 100px;
}

.room{
	margin-top: 30px;
	margin-left: 550px;
	margin-bottom: 30px;
	left: 250px;
	width: 40%;
	height: 40%;
}

.vid{
	width: 50%;
	height: 50%;
	margin-top: 30px;
	margin-bottom: 30px;
}

#line1{
	display: flex;
	position: relative;
	width: 100%;
	height: 100%;
	margin-top: 30px;
}

#line2{
	display: flex;
	position: relative;
	width: 100%;
	height: 100%;
	margin-top: 30px;
}

#line3{
	display: flex;
	position: relative;
	width: 100%;
	height: 100%;
	margin-top: 30px;
}

#map{
	width: 70%;
	height: 70%;
	margin-left: 280px;
}